<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>web.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/newacct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>web.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/goInside</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAccess</servlet-name>
    <servlet-class>web.UserAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccess</servlet-name>
    <url-pattern>/afterLogin/setAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowUsers</servlet-name>
    <servlet-class>web.ShowUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUsers</servlet-name>
    <url-pattern>/afterLogin/showuseres</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ExistingUser</filter-name>
    <filter-class>web.filters.ExistingUser</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExistingUser</filter-name>
    <servlet-name>RegisterUser</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>LoggingUser</filter-name>
    <filter-class>web.filters.LoginAuthentication</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoggingUser</filter-name>
    <servlet-name>LoginUser</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>LogedInUser</filter-name>
    <filter-class>web.filters.LoginAuthentication</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogedInUser</filter-name>
    <url-pattern>/afterLogin/*</url-pattern>
  </filter-mapping>
</web-app>
